.popup {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 36px 30px 36px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity .3s ease;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
